{% load static %}
{% load i18n %}

{% block subject %}
{% blocktrans %}Password reset on {{ site_name }}{% endblocktrans %}
{% endblock subject %}


{% block html_body %}

<head>
  <link rel="stylesheet" type="text/css" href="http://localhost:8000/static/temp/style/main.css">
</head>

<body link="#00a5b5" vlink="#00a5b5" alink="#00a5b5">

  <table class=" main contenttable" align="center"
    style="font-weight: normal;border-collapse: collapse;border: 0;margin-left: auto;margin-right: auto;padding: 0;font-family: Arial, sans-serif;color: #555559;background-color: white;font-size: 16px;line-height: 26px;width: 600px;">
    <tr>
      <td class="border"
        style="border-collapse: collapse;border: 1px solid #eeeff0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
        <table
          style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
          <tr>
            <td valign="top" class="side title"
              style="border-collapse: collapse;border: 0;margin: 0;padding: 20px;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;vertical-align: top;background-color: white;border-top: none;">
              <table
                style="font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;font-family: Arial, sans-serif;">
                <tr>
                  <td class="grey-block"
                    style="border-collapse: collapse;border: 0;margin: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;background-color: #fff; text-align:center;">
                    <div class="mktEditable" id="cta">
                      <img class="top-image" src="http://localhost:8000/static/temp/images/webinar-no-text.png"
                        width="560" /><br><br>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="top-padding"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 15px 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 21px;">
                    <hr size="1" color="#eeeff0">
                  </td>
                </tr>
                <tr>
                  <td class="text"
                    style="border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-family: Arial, sans-serif;font-size: 16px;line-height: 26px;">
                    <div class="mktEditable" id="main_text">
                      Hello dear<br>

                      <b>You're receiving this email because you requested a password reset for your user account at
                        {{ site_name }}.</b><br>

                      <div>Please click the following button and choose a new password:</div>
                      <br>

                      <div class="mktEditable" id="download_button" style="text-align: center;">
                        <a style="color:#ffffff; background-color: #ff8300; border: 30px solid #ff8300; border-left: 30px solid #ff8300; border-right: 30px solid #ff8300; border-top: 15px solid #ff8300; border-bottom: 15px solid #ff8300;border-radius: 3px; text-decoration:none;"
                          href="{{ protocol }}://{{ domain }}/{{ url|safe }}">Reset</a>
                      </div>

                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding:20px; font-family: Arial, sans-serif; -webkit-text-size-adjust: none;" align="center">
              <table>
                <tr>
                  <td align="center"
                    style="font-family: Arial, sans-serif; -webkit-text-size-adjust: none; font-size: 16px;">
                    <span
                      style="font-size:17px; font-family: Arial, sans-serif; -webkit-text-size-adjust: none;color: #555559;">
                      if button not worked copy and paste below link to your browser
                    </span>
                    <a style="font-size: 14px;"
                      href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a>
                    <br />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>




{% endblock html_body %}
